html
  font-size: 21px

#top_nav
  position: fixed

#top_nav span
  font-family: 'Racing Sans One', cursive;
  font-size: 1.3rem

.wrapper
  display: flex
  flex-direction: column
  // padding to allow for fixed main menu toolbar
  padding-top: 64px
  align-items: center
  width: 960px
  margin: 0 auto 0

.highlightz
  color: #8BC34A

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons
  vertical-align: middle
