<div class="wrapper">

  <h1>Home Page</h1>

  <p class="highlightz">Version: {{$ctrl.version}}</p>

  <a href="/about">About Us</a>
  <a href="/profile" ng-if="$ctrl.isAuthenticated()">Profile</a>

  <button ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.login()">Login</button>

  <button ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.logout()">Logout</button>

  <app-counter></app-counter>

  <md-button class="md-raised md-primary">
    <i class="material-icons">face</i> Primary
  </md-button>

  <span><i class="material-icons md-24">face</i>Primary</span>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quae fugit esse consectetur enim nihil reiciendis est
    commodi incidunt cum, ipsa quas aperiam ab. Asperiores minima autem cumque beatae ducimus!</p>
  <p>Hic tempora ullam vel quisquam error quibusdam totam debitis, accusamus quaerat quidem minus ad aperiam nostrum quo omnis
    delectus enim possimus! Qui at laudantium officiis, dignissimos sunt, ducimus sit quis.</p>
  <p>Nesciunt nostrum deserunt aut ducimus esse! Vitae aut perferendis consectetur nihil obcaecati hic consequuntur recusandae,
    ullam, qui eligendi fuga exercitationem ut repudiandae delectus inventore totam. Cum facilis quia suscipit consectetur.</p>

</div>